{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container center full-window">
<div class="section">
<div class="row">
<div class="col s12">
<h3><i class="mdi-content-send brown-text"></i></h3>
<h4>Contact Us</h4>
<p class="left-align light">
<form method="post" action=".">
  {% csrf_token %} 
  {{ form | crispy  }}
  
  <div class="form-group fgroup">
   <input type="submit" value="{% trans 'Submit' %}" />
  </div>
</form>
</p>
</div>
</div>

</div>
</div>

{% endblock %}
