{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}


{% block content %}


<div class="container center full-window">
<div class="section">
<div class="row">
<div class="col s12">
<h3><i class="mdi-content-send brown-text"></i></h3>
<h4>Password Reset</h4>
<p class="left-align light">
<form method="POST" action=".">
	{% csrf_token %}

	{{ form | crispy }}

	<div class="form-group fgroup">
		<input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
	</div>
</form>
</p>
</div>
</div>

</div>
</div>


{% endblock %}