{% extends "base.html" %}
{% load staticfiles %} 
{% load i18n %}

{% block content %}
 <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        	<h5 class="header col s12 light">{% trans "You are now registered. Activation email sent." %}</h5>
        	<h5 class="header col s12 light"><a href="{% url 'auth_login' %}">Login</a></h5>

        </div>
  	  </div>
	</div>
  <div class="parallax"><img src="{% static 'img/art3.jpg' %}" alt="Unsplashed background img 3"></div>
</div>


{% endblock %}