{% load staticfiles %} 
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">book</i></h2>
            <h5 class="center">Get Notes</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Work with Community</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers..</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">Showcase your talent</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

                  <p class="light center">
              <a class="waves-effect waves-light waves-circle btn-floating blue darken-4 social">
                <i class="fa fa-facebook "></i>
              </a>
              <a class="waves-effect waves-light waves-circle btn-floating blue social">
                <i class="fa fa-twitter "></i>
              </a>
              <a class="waves-effect waves-light waves-circle btn-floating red social">
                <i class="fa fa-google "></i>
              </a>
              <a class="waves-effect waves-light waves-circle btn-floating social blue darken-1">
                <i class="fa fa-linkedin "></i>
              </a>

    </div>
  </div>