  {% load staticfiles %} 

  <div class="parallax-container center-align valign-wrapper full-window">
    <div class="section no-pad-bot center-align">
        <div class="row center-align">
            <form method="" action="" id="join-form" class="email-form center-align">
              <input type="text" name="email" placeholder="Enter Your Email Address" id="slack-email" class="field"><input type="submit" value="Join" class="submit">
            </form>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/art2.jpg' %}" alt="Unsplashed background img 2"></div></div>